---
---

@import "{{ site.theme }}";

.sidebar {
	position: fixed;
	list-style-type: none;
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	background-color: #CCC;
	overflow-x: hidden;
	padding-top: 20px;
};

.sidebar a {
	font-size: 10pt;
}

.content {
	margin-left: 20%;
}
