---
---

@import "{{ site.theme }}";

.sidebar {
	top: 0;
	left: 0;
	position: fixed;
	list-style-type: none;
	height: 100%;
	width: 250;
	position: fixed;
	z-index: 1;
	background-color: #CCC;
	overflow-x: hidden;
	padding-top: 20px;
};

.sidebar a {
	font-size: 10pt;
}

.content {
	position: fixed;
	margin-left: 250;
}
