<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->

    <!-- Header, duh -->
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      <!-- Sidebar -->
      <div class="sidebar">
        <ul>
          <li>
            <a href="doc/index.md">Documentation</a>
            <ul>
              <li>
                <a href="doc/index.md#requirements">Requirements</a>
              </li>
            </ul>
            <ol>
              <li>
                <a href="doc/types/index.html">Types</a>
                <ol>
                  <li>
                    <a href="doc/types/fixed.html">Fixed-size integer types</a>
                  </li>
                  <li>
                    <a href="doc/types/special.html">Special types</a>
                  </li>
                  <li>
                    <a href="doc/types/compat.html">Compatibility types</a>
                  </li>
                  <li>
                    <a href="doc/types/alias.html">Alias types</a>
                  </li>
                  <li>
                    <a href="doc/types/width.html">Type width macros</a>
                  </li>
                  <li>
                    <a href="doc/types/limits.html">Type limits macros</a>
                  </li>
                </ol>
              </li>
              <li>
                <a href="doc/char/index.html">Character manipulation</a>
                <ol>
                  <li>
                    <a href="doc/char/control.html">Control Character Macros</a>
                  </li>
                  <li>
                    <a href="doc/char/check/index.html">Character checking</a>
                    <ol>
                      <li>
                        <a href="doc/char/check/cia.html">`cia` &mdash; Character Is Alphanumeric character</a>
                      </li>
                      <li>
                        <a href="doc/char/check/cic.html">`cic` &mdash; Character Is Control character</a>
                      </li>
                      <li>
                        <a href="doc/char/check/cid.html">`cid` &mdash; Character Is Digit character</a>
                      </li>
                      <li>
                        <a href="doc/char/check/cie.html">`cie` &mdash; Character Is Extended ASCII character</a>
                      </li>
                      <li>
                        <a href="doc/char/check/cil.html">`cie` &mdash; Character Is Letter character</a>
                      </li>
                      <li>
                        <a href="doc/char/check/cill.html">`cill` &mdash; Character Is Lowercase Letter character</a>
                      </li>
                      <li>
                        <a href="doc/char/check/cis.html">`cis` &mdash; Character Is Symbol character</a>
                      </li>
                      <li>
                        <a href="doc/char/check/ciul.html">`ciul` &mdash; Character Is Uppercase Letter character</a>
                      </li>
                      <li>
                        <a href="doc/char/check/ciw.html">`ciw` &mdash; Character Is Whitespace character</a>
                      </li>
                    </ol>
                  </li>
                  <li>
                    <a href="doc/char/conv/index.html">Convertion functions</a>
                    <ol>
                      <li>
                        <a href="doc/char/conv/c2d.html">`c2d` &mdash; Charater To Digit</a>
                      </li>
                      <li>
                        <a href="doc/char/conv/d2c.html">`d2c` &mdash; Digit To Charater</a>
                      </li>
                    </ol>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
        </ul>
      </div>

      <div class="content">
        {{ content }}

        <footer class="site-footer">
          {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
          {% endif %}
          <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
        </footer>
      </div>
    </main>
  </body>
</html>
